@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --cor-branca: #ffffff;
  --cor-primaria: #18283b;
  --font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  background: var(--cor-branca);
  font-family: var(--font-family);
  overflow-x: hidden;
}

hr {
  max-width: 78% !important;
  margin-left: 25px !important;
  margin-top: -10px !important;
  color: var(--cor-branca) !important;
}

.linha {
  margin-top: 10px !important;
}

ul li {
  font-size: 1rem;
}

.login-box {
  background-color: var(--cor-branca);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  height: auto;
  margin: 0 auto;
}

.login-box h2 {
  border-width: 1px;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--cor-primaria);
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 4px;
  color: var(--cor-branca);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--cor-primaria);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--cor-branca);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--cor-primaria);
}

.register-form {
  background-color: var(--cor-branca);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--cor-branca);
  color: var(--cor-primaria);
  padding: 12px 10px 0px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeInOut 3s ease-in-out;
  animation: fadeInOut 3s ease-in-out;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 230px;
  padding-left: 11px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: var(--cor-primaria);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
  overflow-x: hidden;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: var(--cor-branca);
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: var(--cor-primaria);
  background: var(--cor-branca);
  opacity: 50%;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: var(--cor-branca);
}

.sidebar-nav > .sidebar-brand a:hover {
  color: var(--cor-primaria);
  background: none;
}

.icon-link {
  padding-right: 10px;
}

#icon-size {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#icon-size.icon-sized {
  font-size: 25px;
  margin-left: -5px;
  margin-top: 8px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.hidden {
  display: none;
  overflow-x: hidden !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.active {
  background-color: var(--cor-branca); /* Cor de fundo */
  color: var(--cor-primaria) !important; /* Cor do texto */
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cor-primaria);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 1px solid var(--cor-primaria);
  padding-bottom: 0.5rem;
}

.col-md-6 {
  padding: 2px;
}

.hero {
  background: url(../assets/bg.png) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  color: var(--cor-primaria);
}

.hero-text {
  color: var(--cor-primaria);
}

.section {
  padding: 60px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--cor-primaria);
  margin-bottom: 1rem;
}

.section-text {
  font-size: 2rem;
  color: var(--cor-primaria);
  margin-bottom: 2rem;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-box {
  background-color: var(--cor-branca);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 1rem;
  text-align: center;
}

.feature-icon {
  font-size: 3rem;
  color: var(--cor-primaria);
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-primaria);
  margin-bottom: 0.5rem;
}

.feature-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2dfa04;
  letter-spacing: 1.5px;
  background-color: var(--cor-primaria);
  max-width: 100px;
  border-radius: 8px;
  justify-self: center;
  padding: 4px 8px;
}

.slider-section {
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.slider-container {
  display: flex;
  position: relative;
  width: auto;
  height: 358px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider img {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  position: relative;
  opacity: 1;
}

.slider-description {
  flex: 1;
  padding: 10px;
  height: 358px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;
}

.slider-description h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cor-primaria);
  margin-bottom: 1rem;
}

.slider-description p {
  font-size: 1.2rem;
  color: var(--cor-primaria);
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 500px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-nav button {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--cor-primaria);
  cursor: pointer;
  transition: color 0.3s ease;
}

.slider-nav button:hover {
  color: var(--cor-primaria);
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 230px;
  }

  #wrapper.toggled {
    padding-left: 100px;
  }

  #sidebar-wrapper {
    width: 240px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 100px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Estilos para o rodapé */
.footer {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 20px 20px 10px 22em;
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-links li {
  margin-right: 15px;
}

.footer-links li a {
  color: var(--cor-branca);
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.fixed-bottom {
  z-index: 999 !important;
}

.card-master {
  padding-top: 5em;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.character-card {
  width: 320px; /* Largura fixa */
  height: 420px; /* Altura fixa */
  text-align: center;
  background: linear-gradient(to bottom, #f8f9fa, #ffffff);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Mantém o texto no final */
}

.character-img {
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
}

.char-h2 {
  font-size: 24px;
  margin-top: auto; /* Empurra para baixo */
  max-height: 2.8em; /* Mantém no máximo 2 linhas */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.char-p {
  font-size: 16px;
  max-height: 3.6em; /* Limita o texto a 2 linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.resalt {
  color: #d42828;
  font-weight: bold;
}

.table-responsive {
  margin: 0 auto;
}

.table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: var(--cor-branca);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  font-weight: 700;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table thead th {
  color: var(--cor-primaria);
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-primary {
  background-color: var(--cor-primaria) !important;
  border: var(--cor-primaria) !important;
  padding: 1em 2em !important;
  font-size: 1.1em !important;
  margin-top: 2em !important;
}

.border-primary {
  border-color: var(--cor-primaria) !important;
}

.adjust {
  margin-top: 0px !important;
}
